body {
  background: #5a7a57;
  font-family: monospace;
}

p {
  color: #11ff00;
}

.p2 {
  text-align: center;
  color: #11ff00;
  font-size: 20px;
}

h1 {
  font-weight: bold;
  text-align: center;
  color: #11ff00;
}

.names {
  font-size: 25px;
}

a {
  font-weight: bold;
  margin: 21px 100px 21px 50px;
  color: #11ff00;
  font-size: 20px;
}

hr {
  width: 75%;
  height: 1px;
  background-color: white;
  border: none;          /* important */
  margin: 10px auto;     /* this centers it */
}
span {
  background-color: #2e3d2c;
}

span.block-span {
  display: block;
  width: 100%; 
  height: 50px; 
}


.banner {
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
}
